@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom small tweaks */
html, body, #__next {
  height: 100%;
}
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background: #f8fafc;
  color: #0f172a;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
